body {
  height:100%;
  margin:0;
  padding:0;
}
.container {
  min-height:100%;
  position:relative;
}
.searchbuttons {
  text-align:center;
  font-weight:bold;
  height:40px;
  vertical-align: middle;
}
button {
  font-weight:bold;
  opacity:0.6;
  width: auto;
  margin:auto;
  padding:7px;
  height:33px;
  border:none;
  margin:1px;
  border:1px solid #FFFFFF;
}
button:hover {
  border:1px solid;
  opacity:1;
  border-radius:2px;
  border-color:#AAAAAA;
  background-color:#EEEEEE;
}
ul.bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 1em;
}
li {
  float:left;
  padding: 0.5em;
}
.header {
  float:right;
  margin-top:5px;
}
.name{
  opacity: 0.55;
}
html {
  font-family:arial, sans-serif;
  font-size: 13px;
}
a {
  text-decoration:none;
  color:#000;
  opacity:0.7;
}
a:hover {
  text-decoration:underline;
}
.logo {
  padding-top:10%;
  text-align:center;
  display:block;
}
img {
  margin-left:auto;
  margin-right:auto;
}
.searchbar {
  text-align:center;
  display:block;
  padding:1em;
}
input {
  width: 450px;
  height: 25px;
  float:left;
  margin:1.25px;
}
div.input {
  width: 500px;
  height: 34px;
  margin:auto;
  box-sizing:border-box;
  border:1px ridge #CCC;
}
div.input:hover {
  border-color:#AAA;
}
.footer {
  bottom:0;
  width:100%;
  height:42px;
  position:absolute;
  padding:0;
  margin:0;
  border-top:1px solid #DDD;
  background-color: #EEE;
  font-size: 12px;
  color:#777;
  line-height:30px;
}
ul.bar2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right:1em;
  float:right;
}
span.mic {
  height:24px;
  width:24px;
  background-color:#AAA;
  display:inline-block;
  background:url("google-mic.png") no-repeat;
  background-position: 0px 0px;
  background-size:24px 24px;

}
div.mic {
  height:24px;
  width:24px;
  float:right;
  margin:auto;
  padding:4px;
}
a.mic{
  opacity:1;
}
.search {
  outline:none;
  border:none;
  padding:15px;
  font-size:14px;
}
#Apps {
  background:url("randoms.png") no-repeat;
  background-position:-132px -38px;
  height:30px;
  width:30px;
  opacity:0.55
}
#Apps:hover {
  opacity:0.85
}
#barsy {
  height:60px;
  line-height:30px;
}
#Notifications {
  background:url("randoms.png") no-repeat;
  background-position:-194px -21px;
  height:20px;
  width:20px;
  opacity:0.55;
  background-color:#222;
  border-radius:20px;
  margin-top:5px;
}
#GooglePlus {
  background:url("photo.jpg") no-repeat;
  height:32px;
  width:32px;
  border-radius:32px;
}
