ul.bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float:left;
  padding: 1em;
}
.header {
  float:right;
}
.name{
  opacity: 0.55;
}
* {
  font-family:arial, sans-serif;
  font-size: 13px;
}
a {
  text-decoration:none;
  color:#000;
  opacity:0.7;
}
.logo {
  padding-top:10%;
  text-align:center;
  display:block;
}
img {
  margin-left:auto;
  margin-right:auto;
}
.searchbar {
  text-align:center;
  display:block;
  padding:1em;
}
input {
  width: 500px;
  height: 30px;
}
