/*img.obamaid{
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
}

 img.cole1{
  display:block;
  right: 0px
}

img.cole2{
  display:block;
  left: 0px
}

Failed attempt to use CSS classes to put Cole on the left and right.

*/
h2{
  text-decoration: underline;
}

div.container{
  display:block;
  margin: 0 auto;
  text-align:center;
}

div.Cole{
  float:right;
  margin:2%;
  width:45%
}

div.Sam{
  float:left;
  margin:2%;
  width:45%
}

div.block{
  width:auto;
  height:auto;
}
/* Text align: center doesn't seem to center the pictures. Cole, you should look in to this.
