#mainLogo{
	position:relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 20px;
}

#search{
	position:relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}

.searchBox{
	background-image: url('images/googlemic.png');
	background-position: 7px 7px;
	background-size: 7px 7px;
	background-repeat: no-repeat;
	padding-left: 20px;
	background-size: 23px 23px;
	background-repeat: no-repeat;
	padding-left: 20px;
	width: 500px;
	height: 40px;
	background-position: right;
}

.buttonGroup{
	text-align: center;
}

.googleSearchButton{
	display: inline-block;	
}

.googleLuckyButton{
	display: inline-block;	
}


footer li {
	display: inline;
	padding-left: 14px;
	padding-right: 14px;
}

#topNavBar{
	width: 100%;
	position: absolute;
	top: 0;
	display: inline;
}

#navElements{
	text-align: right;

}

.fullFooter{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: left;
	display: inline;
	vertical-align: text-bottom;
	height: 14px;
	border-top: 1px solid #e7e7e7;
	background-color: #f3f3f3;
	margin: 0px;
	padding-top: 14px;
	padding-bottom: 14px;
	font-size: 12px;
	font-family: arial, sans-serif;
}

.leftFooter{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
	float: left;
	padding-left: 14px;
	padding-bottom: 14px;
}

.rightFooter{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
	float: right;
	padding-top: 5px;
	padding-right: 14px;
}

.footerLink{
	color: #000;
	text-decoration: none;
}

form {
	color: #09C;	
}

body {
	margin: 0px;
}